{{ if site.Params.comments }}
<div id="discus">
    <script>
        const s = document.createElement('script');
        s.setAttribute("src", "https://giscus.app/client.js");
        s.setAttribute("data-repo", "julien-blanchon/guybrush.ink");
        s.setAttribute("data-repo-id", "R_kgDOH5WENw");
        s.setAttribute("data-category", "Announcements");
        s.setAttribute("data-category-id", "DIC_kwDOH5WEN84CRGO4");
        s.setAttribute("data-mapping", "pathname");
        s.setAttribute("data-strict", "1");
        s.setAttribute("data-reactions-enabled", "1");
        s.setAttribute("data-emit-metadata", "0");
        s.setAttribute("data-input-position", "bottom");
        s.setAttribute("data-theme", localStorage.getItem("pref-theme"));
        s.setAttribute("data-lang", "en");
        // s.setAttribute("data-loading", "lazy");
        s.setAttribute("crossorigin", "anonymous");
        document.getElementById("discus").appendChild(s);
    </script>

    <noscript>Please enable JavaScript to view the comments powered by giscus.</noscript>
</div>

{{ end }}